# 基础标记
snippet a_a     指示应用边界
	ng-app${0}
snippet a_c     控制器 [绑定处理函数]
	ng-controller="${0}"
snippet a_m     模型 [相当于指定变量名]
	ng-model="${0}"
# 流程控制
snippet a_rp    迭代 [相当于foreach]
	ng-repeat="${0}"
# 常用事件
snippet a_cl    点击
	ng-click="${0}"
# 其他
snippet a_i     数据初始化 [相当于给变量赋初值]
	ng-init="${0}"
snippet a_.     数据绑定 [相当于变量内插]
	{{ ${0} }}
snippet a_      ng-xxx
	ng-${0}
